# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/

# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Custom
CareerVerse_*.md

# Frontend (Vite/React)
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/dist-ssr
frontend/*.local

# Frontend Editor
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
